*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
body {
    background-color: rgb(170, 170, 170);
}

body p {
    line-height: 4;
    text-indent: 40px;
    font-weight: bold;
}

footer {
    padding: 15px;
    background-color: rgb(34, 85, 133);
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

footer p {
    text-indent: 1px;
    font-weight: lighter;
    height: 20px;
    text-decoration: underline;
}


#idFooter, #idListaTags {
    display: flex;
    text-indent: none;
}

nav {
    display: flex;
    text-transform: uppercase; 
    background-color: rgba(0, 0, 0, 0.829);   
}

nav ul{
    list-style-type: none;
}

#CapLogo{
    float: left;
    border: 10px;
    border-color: black;
    border-style: 10px;
    border-radius: solid;
}


li{
    color: rgb(207, 205, 194);
}

#IdImageLogo{
    float: left;
    border-color: black;
    border: 10px;
    border-radius: 10px;
    background-color: cornsilk;
}


#divHeader {
    border-radius: 10px;
    border-style:none;
    border-color: black;
    background-color: rgb(0, 0, 0);
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style:inherit;
    background-color: rgb(5, 5, 10);
    border-radius: 2px;
    padding: 8px;
}

a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#main {
    display: flex;
    padding: 10px;
}

#divTexto {
    line-height: 2;
}

#divEndereco {
    width: 33%;
}

#idRedeSociais {
    width: 33%;
}

#TagsImportantes {
    width: 33%;
}

#idGoogle {
    color: white;

}

#idIconeTwitter, #idIconeFacebook, #idIconeInstagram {
    width: 30px;
}

#IdImageLogo {
    width: 130px;
}

#idIconeInstagram{
    color: rgb(255, 255, 255);
}

